body {
  margin: 0;
  overflow: hidden;
}

.bg-wrap {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.left-bg {
  flex-shrink: 0;
  width: 100%;
  max-width: 1200px;
  background: url("./img/bg-left.png") repeat-y;
}

.center-bg,
.right-bg {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .right-bg {
    display: block;
    flex-grow: 1;
    background: url("./img/bg-right.png") repeat-y;
  }
}

@media only screen and (min-width: 2400px) {
  .right-bg {
    width: 1200px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .center-bg {
    display: block;
    flex-grow: 1;
    background: url("./img/bg-center.png") repeat;
  }
}

/* Общий стиль для всех блоков */
.score-wrap {
  position: fixed;
  bottom: 10px;
  font-family: Arial, sans-serif;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
  z-index: 100;
}
.wasted {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-width: 450px;
}

#coins-score-wrap {
  display: flex;
  align-items: center; /* Выравнивание картинки и текста по вертикали */
  gap: 5px; /* Отступ между картинкой и текстом */
}


/* Стиль для счетчика врагов, выравнивание по правому нижнему углу */
#enemies-score-wrap {
  right: 10px;
  transform: translateY(0%);
}

/* Стиль для общего счета, выравнивание в центре нижней части экрана */
.general-score-wrap {
  left: 50%;
  transform: translate(-50%, 0%);
}

#gameOverContainer {
  display: none; /* Скрыть контейнер изначально */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1000; /* Убедиться, что контейнер находится поверх других элементов */
}

#restartButton {
  display: block; /* Сделать кнопку блочным элементом для переноса на новую строку */
  margin: 0 auto; /* Центрировать кнопку внутри контейнера */
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

#totalScoreContainer {
  margin-top: 20px; /* Добавить немного пространства между кнопкой и счетом */
}
.total-score-bottom {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
}
.icons-container {
  display: flex; /* Активирует флексбокс для контейнера */
  align-items: center; /* Центрирует элементы по вертикали */
  justify-content: flex-start; /* Выравнивание элементов к началу контейнера */
  gap: 10px; /* Добавляет пространство между элементами */
}
.coin-icon,
.enemy-icon {
  width: 50px; /* Устанавливает фиксированный размер для иконок */
  height: auto; /* Сохраняет пропорции изображения */
}
